# Database - Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_x95yrZzfAlvi@ep-muddy-tooth-alet76x6-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here-min-32-characters-long"
BETTER_AUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
